@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main : hsl(217, 54%, 11%); /*(main BG)*/
    --Very-dark-blue-card : hsl(216, 50%, 16%); /*(card BG) */
    --Very-dark-blue-line : hsl(215, 32%, 27%); /*(line)*/
    --White : hsl(0, 0%, 100%);
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue-main);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card{
    padding: 30px;
}

.sections-container{
    max-width: 350px;
    background-color: var(--Very-dark-blue-card);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1rem;
    box-shadow: 0px 25px 0px 10px #091424 , -0px 30px 0px 50px #0b17286f;
}

.img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.6rem;
    background-color: #fff;
    display: block;
}

.img{
    position: relative;
}

.img::before{
    content: url(imgs/icon-view.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50% , 0.4);
    position: absolute;
    border-radius: 0.6rem;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s;
}

.img:hover::before{
    opacity: 1;
}

.header{
    color: var(--White);
    font-size: 1.4rem;
}
.header:hover{
    cursor: pointer;
    color: var(--Cyan);
    transition: color 0.5s;
}

.description{
    margin: 1rem 0rem;
    color: var(--Soft-blue);
    line-height: 1.6;
    font-weight: 300;
}

.info{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.info .price{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: var(--Cyan);
}

.info .time{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Soft-blue);
}


hr{
    height: 1px;
    background-color: var(--Very-dark-blue-line);
    border: none;
}
.owner_info{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
.owner_info img{
    max-width: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 0.8rem;
}

.owner_info p{
    color: var(--Soft-blue);
}

.owner_info span{
    color: var(--White);
}

.owner_info span:hover{
    cursor: pointer;
    color: var(--Cyan);
    transition: color 0.5s;

}